<main class="d-flex align-items-center">
  <!-- PAGINAS -->
  <mat-card>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <h2>Examples</h2>
    <div>
      <h3>ESTUDIANTE</h3>
      <p>
        "email": "minotauro@example.com"<br />
        "password": "789"
      </p>
    </div>
    <div>
      <h3>EMPLEADO</h3>
      <p>
        "email": "employee@example.com"<br />
        "password": "222"
      </p>
    </div>
    <div>
      <h3>ADMINISTRADOR</h3>
      <p>
        "email": "admin@example.com" <br />
        "password": "111"
      </p>
    </div>
  </mat-card>
</main>
