<div class="container">
  <h1 class="center-text">SIU Escuela de Criaturas Magicas</h1>
  <h2 class="center-text">¡El mundo mágico de la educación!</h2>

  <img class="school-image" src="../../assets/img/moebius.jpg" alt="Escuela de Criaturas">

  <div class="description">
    <p>¡Bienvenido a la Escuela de Criaturas, donde la magia y el conocimiento se encuentran!</p>
    <p>Nuestra escuela fue fundada en el año IX A.C con el propósito de enseñar y guiar a las criaturas mágicas hacia un futuro brillante.</p>
    <p>Contamos con profesores expertos, como Merlín el Mágico, Zeus el Tronador, y Morgana la Hechicera, quienes están dedicados a impartir sabiduría y habilidades místicas.</p>
    <p>El objetivo de nuestra escuela es fomentar el entendimiento, la convivencia y el desarrollo de las habilidades mágicas de cada estudiante.</p>
  </div>

  <p class="thanks">¡Agradecemos tu interés en la SIU Escuela de Criaturas! Para más información, contáctanos al: 223-5895280</p>
</div>
