.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.center-text {
  text-align: center;
}

.school-image {
  width: 400px;
  display: block; 
  margin: auto;
  margin-top: 20px;
}

.description {
  margin-top: 20px;
}

.thanks {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  color: #555;
}
